<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Knowledge System">

    <listeners>
        <listener class-name="com.biit.ks.core.TestListener"/>
    </listeners>

    <test name="Knowledge System" enabled="true" preserve-order="true">
        <groups>
            <run>
                <exclude name="seaweedClient"/>
                <exclude name="thumbnailTests"/>
                <exclude name="fileEntryProvider"/>
                <exclude name="categorizationController"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.ks.core.seaweed.SeaweedClientTests"/>
            <class name="com.biit.ks.core.ThumbnailTests"/>
            <class name="com.biit.ks.core.providers.FileEntryProviderTest"/>
            <class name="com.biit.ks.core.controllers.CategorizationControllerTest"/>
        </classes>
    </test>
</suite>