<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Knowledge System">
    <listeners>
        <listener class-name="com.biit.ks.rest.TestListener"></listener>
    </listeners>

    <test name="Knowledge System" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="fileEntry"/>
                <include name="pdfEntry"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.ks.rest.test.api.FileEntryServicesTests"/>
            <class name="com.biit.ks.rest.test.api.PdfEntryServicesTests"/>
        </classes>
    </test>
</suite>