<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Knowledge System">
    <listeners>
        <listener class-name="com.biit.ks.persistence.TestListener"></listener>
    </listeners>

    <test name="Knowledge System" enabled="true" preserve-order="true">
        <groups>
            <run>
                <exclude name="opensearchClient"/>
                <exclude name="opensearchIntervals"/>
                <exclude name="opensearchFuzzy"/>
                <exclude name="opensearchRange"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.ks.persistence.opensearch.OpenSearchClientTests"/>
            <class name="com.biit.ks.persistence.opensearch.OpenSearchIntervalsTests"/>
            <class name="com.biit.ks.persistence.opensearch.OpenSearchMixedSearchTests"/>
            <class name="com.biit.ks.persistence.opensearch.OpenSearchFuzzySearchTests"/>
            <class name="com.biit.ks.persistence.opensearch.OpenSearchRangeSearchTests"/>
        </classes>
    </test>
</suite>